
.project

.settings/org.eclipse.core.resources.prefs

architecture-achieve/.project

.settings/org.eclipse.m2e.core.prefs

architecture-achieve/.settings/org.eclipse.wst.validation.prefs

architecture-cache/.classpath

architecture-cache/.project

architecture-cache/.settings/org.eclipse.core.resources.prefs

architecture-cache/.settings/org.eclipse.wst.common.project.facet.core.xml

architecture-cache/.settings/org.eclipse.wst.validation.prefs

architecture-core/.project

architecture-core/.settings/org.eclipse.wst.validation.prefs

architecture-integration/.project

architecture-integration/.settings/org.eclipse.wst.validation.prefs

architecture-orm/.classpath

architecture-orm/.project

architecture-orm/.settings/org.eclipse.core.resources.prefs

architecture-orm/.settings/org.eclipse.wst.validation.prefs

architecture-web/.project

architecture-web/.settings/org.eclipse.wst.validation.prefs

architecture-ws/.classpath

architecture-ws/.project

architecture-ws/.settings/org.eclipse.core.resources.prefs

architecture-ws/.settings/org.eclipse.wst.validation.prefs
